@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src:    url('./fonts/OpenSans-Light.woff2') format('woff2'),
            url('./fonts/OpenSans-Light.woff') format('woff'),
            url('./fonts/OpenSans-Light.ttf') format('ttf'),
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src:    url('./fonts/OpenSans-Regular.woff2') format('woff2'),
            url('./fonts/OpenSans-Regular.woff') format('woff'),
            url('./fonts/OpenSans-Regular.ttf') format('ttf'),
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src:    url('./fonts/OpenSans-Bold.woff2') format('woff2'),
            url('./fonts/OpenSans-Bold.woff') format('woff'),
            url('./fonts/OpenSans-Bold.ttf') format('ttf'),
}

html {
    body {
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 300;
    }
}

.my-dropdown {
    float: right;
    position: relative;
    top: 7px;
    right: 40px;
}